<div class="jumbotron bg-keylime">
  <h1>eGrocery</h1>
  <p>The all-in-one recipe organizer is here.</p>
  <p><a class="btn btn-success btn-lg" routerLink="/signup" role="button">Get Started</a></p>
</div>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail no-border">
      <a routerLink="/recipes">
        <img src="assets/images/recipes.svg" alt="recipes">
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail no-border">
      <a routerLink="/kitchen">
        <img src="assets/images/kitchen.svg" alt="kitchen">
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail no-border">
      <a routerLink="/grocery-list">
        <img src="assets/images/grocery_list.svg" alt="grocery_list">
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail no-border">
      <a routerLink="/calendar">
        <img src="assets/images/calendar.svg" alt="calendar">
      </a>
    </div>
  </div>
</div>
<div class="row mrgn-bottom">
  <div class="col-sm-6 col-md-3">
    <div class="caption">
      <h3>Recipe Storage</h3>
      <p>Store your recipes in one place to make organizing, searching, and updating easy.</p>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="caption">
      <h3>Kitchen Inventory</h3>
      <p>Keep track of what ingredients to make finding what you need to buy for a recipe simple.</p>
  </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="caption">
      <h3>Grocery List Generator</h3>
      <p>A list of ingredients needed for a recipe or more is generated based on what is in your Kitchen inventory.
  </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="caption">
      <h3>Calendar</h3>
      <p>Plan when you will make recipes using the calendar.</p>
  </div>
  </div>
</div>
